body {
  font-family: "Ubuntu", sans-serif;
  font-size: 50%;
}
.wrapper {
  max-width: 60%;
  margin: 0 auto;
}
label {
  font-size: 1.3em;
}
h1 {
  font-size: 2em;
}
.radioinput {
  display: none;
}
.radioinput:checked + .img_mem {
  display: block;
}
.img_mem {
  display: none;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: brown;
}
.label {
  display: block;
  border-top: 2px solid black;
  padding: 0.3em;
}

.description_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  background-image: url(../img/plus.svg);
  background-color: transparent;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  height: 1em;
  width: 1em;
}
.description {
  color: blue;
}
@media (min-width: 320px) and (max-width: 820px) {
  body {
    font-size: 50%;
  }
}

@media (min-width: 820px) and (max-width: 1920px) {
  body {
    font-size: 80%;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 100%;
  }
  .icon {
    display: none;
  }

  .label:hover .img_mem {
    display: block;
  }

  .accordion:hover .icon {
    display: block;
  }
  .accordion:hover .description {
    color: black;
  }
}
